
@{
    ViewData["Title"] = "Summary";
}




@model IEnumerable<Lab19_CoffeeShopPt2.Models.RegisterUser>

<table class="table">
    <tr>
        <th>UserName</th>
        <th>First Name</th>
        <th>Birthday</th>
        <th>Drink of Choice</th>
        <th>Email</th>
        <th>Password</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.FirstName</td>
            <td>@user.Birthday.Date</td>
            <td>@user.Drink</td>
            <td>@user.Email</td>
            <td>@user.Password</td>
            
        </tr>
    }
</table>

<style>
    .pizza {
        font-size: larger;
        background-color: aliceblue;
        text-align: center;
        background-size: contain;
    }

        .pizza input {
            margin-right: 8em;
        }

    2
    .pizza label {
        position: absolute;
    }
</style>